* {
    /* border: 1px solid red; */
}

:root {
    --bg: #1e1e1e;
    --fg: #00ff88;
    --dim-fg: #666;
    --pre-fg: #ccc;
}

body,
#ascii-container {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    gap: 2em;
}

/* pre {
    background: #000;
    padding: 1em;
    box-shadow: 0 0 10px #00ff8840;
    white-space: pre;
    font-size: 16px;
    line-height: 1.2em;
    text-align: left;
    margin: 0 auto;
    max-width: 90vw;
    overflow-x: auto;
    color: var(--fg);
} */

.line-number {
    color: var(--dim-fg);
}
