h1 {
    color: #cc0000;
}

p {
    color: #0000cc;
}

li {
    color: #00cc00;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    gap: 1em;
}