:root {
    --bg: #1e1e1e;
    --fg: #00ff88;
    --dim-fg: #666;
}

body,
#ascii-container {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2em;
}

body {
    height: 100vh;
    gap: 2em;
}

/* unsure what this selector is changing but too afraid to remove it */
.ascii-box {
    white-space: pre;
    font-size: 16px;
    line-height: 1.2em;
    text-align: left;
    margin: 0 auto;
    max-width: 90vw;
    overflow-x: auto;
    color: var(--fg);
}

.line-number {
    color: var(--dim-fg);
}
